[Unit]
Description=etcd distributed reliable key-value store

[Service]
Type=notify
ExecStart=/usr/local/bin/etcd --config-file /etc/etcd/etcd.conf.yaml
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target